@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

/* ----- General ------- */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

.title-section {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  margin-top: 80px;
  text-align: center;
}

.title-bar {
  height: 4px;
  margin: 15px 0 50px 0;
  width: 70px;
  font-size: 3px;
}

/* header,
section {
  scroll-snap-align: start;
} */

/* ----- General ------- */

/* ----- Header ------- */

header {
  background: #252934;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
}

h1,
h2 {
  font-weight: 300;
  font-size: 42px;
  margin: 0;
}

.btn {
  border: 2px solid #fff;
  cursor: pointer;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
  margin-top: 20px;
}

.arrow {
  width: 17px;
  height: 17px;
  margin-left: 10px;
  transition: all 0.3s;
}

.btn p {
  margin: 0;
  font-size: 18px;
}

.btn:hover {
  background-color: #04c2c9;
  border-color: #04c2c9;
}

.btn:hover .arrow {
  transform: rotate(90deg);
}

.randomColor {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.randomColor span {
  cursor: pointer;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 6px 8px;
  border-radius: 7px;
  margin-left: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

/* ----- Header ------- */

/* ----- Nav ------- */

nav {
  position: sticky;
  top: 0;
  left: 0;
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
}

.link-wrap {
  display: flex;
  padding-left: 30px;
}

.page-link {
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.page-link:hover {
  color: #e31b6d;
}

.page-link:not(:last-child) {
  margin-right: 40px;
}

/* ----- Nav ------- */

/* ----- About ------- */
.about {
  background-color: #fff;
  color: #616161;
  /* height: 800px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 80px;
}

.title-about {
  color: #444649;
  opacity: 0;
  transform: translateX(-200px);
  transition: all 0.5s ease-in-out;
}

.title-about-animated {
  opacity: 1;
  transform: translateX(0);
}

.bar-about {
  background-color: #444649;
  opacity: 0;
  transform: translateX(-200px);
  transition: all 0.5s ease-in-out;
}

.bar-about-animated {
  opacity: 1;
  transform: translateX(0);
}

.about-container {
  /* padding: 10px; */
  display: grid;
  grid-template-columns: 1.8fr 2fr;
}

.left-side {
  /* background-color: red; */
  padding: 20px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(-200px);
  transition: all 0.5s ease-in-out;
}

.left-side-animated {
  opacity: 1;
  transform: translateX(0);
}

.container-img {
  position: relative;
  /* background-color: blue; */
  width: 100%;
  height: 70%;
}

.container-img img {
  /* width: 100%; */
  position: absolute;
  transform: translateX(-50%);
}

.about-img-front {
  width: 370px;
  left: 50%;
  bottom: 20px;
  z-index: 2;
}

.about-img-retro {
  width: 212px;
  left: 35%;
  bottom: 80px;
  z-index: 1;
}

.left-side p {
  margin: 0;
  padding-top: 20px;
  text-align: justify;
}

.right-side {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(200px);
  transition: all 0.5s ease-in-out;
}

.right-side-animated {
  opacity: 1;
  transform: translateX(0);
}

.folders-container {
  background-color: #252934;
  border: 10px solid #16181d;
  border-radius: 10px;
  width: 398px;
  height: 480px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.folders-container-open-folder {
  background-color: #252934;
  border: 10px solid #16181d;
  border-radius: 10px;
  width: 398px;
  height: 480px;
  cursor: pointer;
  overflow: hidden;
}

.folder-wrap {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.folder-wrap-open-folder {
  margin: 10px;
  margin-left: 40px;
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.folder {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all 0.3s;
  cursor: pointer;
}

.folder-open-folder {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 80%;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
  cursor: default;
}

.other-folders-open-folder {
  display: none;
}

.folder:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(1.06);
}

.folder-name {
  font-size: 15px;
  margin-top: 3px;
  color: rgb(199, 199, 199);
  cursor: pointer;
}

.folder-name-open-folder {
  position: absolute;
  top: 15px;
  font-size: 27px;
  color: #fff;
  cursor: default;
}

.folder-name-hover {
  color: #fff;
}

.inside-folder-wrap {
  margin: 2px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element img {
  width: 100%;
}

.element-name {
  display: none;
}

.element-name-open-folder {
  display: inline-block;
  color: #fff;
}

.element-name-open-folder p {
  margin: 0;
  text-align: center;
}

.element-name-descr {
  font-size: 13px;
}

/* ----- About ------- */

/* ----- Projects ------- */

.projects {
  background-color: #252934;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px 160px 10px;
}

.title-projects {
  color: #fff;
  opacity: 0;
  transform: translateX(-200px);
  transition: all 1s ease-in-out;
}

.title-projects-animated {
  opacity: 1;
  transform: translateX(0);
}

.bar-projects {
  background-color: #fff;
  opacity: 0;
  transform: translateX(-200px);
  transition: all 1s ease-in-out;
}

.bar-projects-animated {
  opacity: 1;
  transform: translateX(0);
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 50px;
  height: 100%;
  width: 80%;
  opacity: 0;
  transform: translateX(200px);
  transition: all 1s ease-in-out;
}

.projects-container-animated {
  opacity: 1;
  transform: translateX(0);
}

.portfolio-item-wrapper {
  position: relative;
  height: 100%;
}

.portfolio-item-wrapper:hover .portfolio-img-background {
  transition: 1s;
  filter: brightness(10%);
}

.portfolio-img-background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 75%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 0 60px;
}

.logo-wrapper img {
  width: 45%;
  margin: 10px 0;
}

#logo-img-js {
  width: 30%;
}

#logo-img-natours {
  width: 40%;
}

#logo-img-amazon {
  width: 30%;
}

#logo-img-airbnb {
  width: 55%;
}

.github-logo {
  height: 50px;
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 0;
  transition: opacity 1s;
}

.portfolio-item-wrapper:hover .github-logo {
  opacity: 1;
}

.subtitle {
  font-size: 13px;
  color: lightseagreen;
  position: absolute;
  bottom: 20px;
  padding: 20px 80px;
  opacity: 0;
}

.portfolio-item-wrapper:hover .subtitle {
  opacity: 1;
  transition: opacity 1s;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

/* ----- Projects ------- */

/* ----- Media Queries ------- */
@media (max-width: 768px) {
  h1,
  h2 {
    font-size: 35px;
  }

  .randomColor {
    font-size: 13px;
    padding: 0;
    left: 10px;
  }

  .randomColor span {
    cursor: default;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0;
    border-radius: 0;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  .title-section {
    margin-top: 50px;
  }

  .about-container {
    grid-template-columns: 1fr;
  }

  .left-side {
    height: 500px;
    margin-left: 0;
  }

  .left-side p {
    padding: 20px 80px;
  }

  .projects-container {
    grid-template-columns: 1fr 1fr;
  }

  .logo-wrapper img {
    width: 85%;
  }

  #logo-img-natours,
  #logo-img-js {
    width: 60%;
  }

  #logo-img-airbnb {
    width: 100%;
  }

  #logo-img-amazon {
    width: 50%;
  }

  .portfolio-img-background {
    filter: brightness(30%);
  }

  .subtitle {
    opacity: 1;
    font-size: 12px;
    padding: 0 20px;
  }

  .github-logo {
    opacity: 1;
    top: 15px;
    right: 15px;
    height: 30px;
  }
}

@media (max-width: 425px) {
  header,
  .about {
    border-bottom: 8px solid #04c2c9;
  }

  h1,
  h2 {
    font-size: 20px;
  }

  .btn p {
    font-size: 13px;
  }

  .randomColor {
    padding: 0 10px;
  }

  .randomColor span {
    cursor: default;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0;
    border-radius: 0;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0);
  }

  nav {
    display: none;
  }

  .title-section {
    margin-top: 35px;
    font-size: 35px;
  }

  .about {
    padding-bottom: 0;
  }

  .bar-about {
    margin-bottom: 0;
  }

  .about-container {
    grid-template-columns: 1fr;
  }

  .left-side {
    height: 500px;
    margin-left: 0;
  }

  .about-img-front {
    width: 85%;
  }

  .about-img-retro {
    width: 40%;
    height: 65%;
    left: 40%;
    bottom: 100px;
  }

  .left-side p {
    padding: 10px;
  }

  .folders-container,
  .folders-container-open-folder {
    width: 270px;
    border-spacing: 5px;
  }

  .folder-wrap-open-folder {
    margin-left: 27px;
  }

  .folder {
    width: 95px;
    height: 95px;
  }

  .projects {
    height: auto;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }

  .logo-wrapper img {
    width: 85%;
  }

  #logo-img-natours,
  #logo-img-js {
    width: 60%;
  }

  #logo-img-airbnb {
    width: 100%;
  }

  #logo-img-amazon {
    width: 50%;
  }

  .portfolio-img-background {
    height: 240px;
    filter: brightness(30%);
  }

  .subtitle {
    opacity: 1;
    font-size: 12px;
    padding: 0 20px;
  }

  .github-logo {
    opacity: 1;
    top: 15px;
    right: 15px;
    height: 30px;
  }
}

/* ----- Media Queries ------- */
